{% extends 'adm/base_adm.html' %}
{% load static %}
{% load bootstrap4 %}

{% block main %}

<div class="container bg-light gt- pt-3 pb-3">
    <div class="row">
                <form method="POST" enctype="multipart/form-data">
                    <b class="text-secundary">Adcionar Tabs Palestra</b>
                    <div class="card bg-white mt-2 mb-5">
                        <div class="card-body">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning">Salvar Imagem</button>
                </form>
            
        
    </div>
</div>




{% endblock %}